altgraph==0.17.4
babel==2.16.0
BareNecessities==0.2.8
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
DateTime==5.5
defusedxml==0.7.1
docopt==0.6.2
et_xmlfile==2.0.0
filelock==3.16.1
Flask==3.0.3
Flask-Mail==0.10.0
fonttools==4.54.1
fpdf==1.7.2
fpdf2==2.8.1
gdown==5.2.0
holidays==0.62
idna==3.10
inflect==7.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
load-dotenv==0.1.0
logging==0.4.9.6
lxml==5.3.0
Mail==2.1.0
MarkupSafe==3.0.2
more-itertools==10.5.0
num2words==0.5.13
numpy==2.1.3
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pdfkit==1.0.0
pdfrw==0.4
pefile==2023.2.7
pillow==11.0.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
PyPDF2==3.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
pytz==2024.2
pywin32-ctypes==0.2.3
reportlab==4.2.5
requests==2.32.3
schedule==1.2.2
setuptools==75.6.0
six==1.16.0
soupsieve==2.6
timedelta==2020.12.3
tqdm==4.67.0
typeguard==4.4.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.1.3
zope.interface==7.2
